/* @keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;

    }
} */

body,
#btn,
.weibo,
.twitter {
    transition:all 2s linear;
}

h1 {
    text-align: center;
    color: #fff;
}
#name {
    text-align: right;
    font-size: 16px;
}
#quote {
    font-size: 20px;
    line-height: 1.5;
}
main {
    box-sizing: boder-box;
    max-width: 550px;
    margin: 0 auto;
    padding: 2em 3em;
/*     将按钮和文字分开 */
    padding-bottom: 6em;
    box-shadow: 2px 2px 12px #555;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
}

#btn {
    font-size: 16px;
    width: 90px;
    height: 36px;
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #666;
    position: absolute;
    right: 3em;
    bottom: 3em;
}

.quoteTo {
    width: 100px;
    height: 36px;
    position: absolute;
    left: 3em;
    bottom: 3em;
    margin-bottom: 0;
}

.weibo,
.twitter {
    box-sizing: boder-box;
    display: inline-block;
    margin-right: 2px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #666;
    width: 36px;
    height: 36px;
    line-height: 33px;
    text-align: center;
    color: #fff;
}
