body {
    background-color: #ff7474;
    margin: 0;
}

.wrap {
    width: 50vh;
    height: 50vh;
    margin: 25vh auto;
    background-color: #fff;
    /* 去除空格 */
    font-size: 0;
    border: 1vh solid #fff;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 15px #161616;
    border-radius: 50%;
}

#green,
#red,
#blue,
#yellow {
    width: 50%;
    height: 50%;
    display: inline-block;
    /* 默认基线对齐，改为中线 */
    vertical-align: middle;
    border: 1vh solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}

#green {
    background-color: #7cbb00;
    border-top-right-radius: 100%;
}

#red {
    background-color: #f05221;
    border-top-left-radius: 100%;
}

#blue {
    background-color: #00a5f0;
    border-bottom-left-radius: 100%;
}
#yellow {
    background-color: #ffb902;
    border-bottom-right-radius: 100%;
}

.control {
    text-align: center;

    width: 50%;
    height: 50%;
    border: 1vh solid #fff;
    background-color: #ff7474;
    position: absolute;
    left: 25%;
    top: 25%;
    box-sizing: border-box;
    border-radius: 100%;
}

.control h1 {
    font-family: serif;
    font-weight: bold;
    font-size: 6vh;
    margin: 0;
    padding-top: 13%;
    width: 100%;
    height: 35%;
    vertical-align: middle;
}

.control sup {
    font-size: 1rem;
}
.control div {
    display: inline-block;
    vertical-align: middle;
    margin: 5%;
}
.countScreen {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: middle;
    font-size: 2vh;
    font-weight: bold;
    width: 30%;
    height: 15%;
    padding-top: 0.4vh;
    background-color: #161616;
    border-radius: 4px;
    box-sizing: border-box;
    color: #990000;
    position: relative;
}
.countScreen::after {
    color: #000;
    font-size: 1.5vh;
    font-weight: normal;
    content: "COUNT";
    position: absolute;
    left: 0.5vh;
    top: 3.5vh;
}

.start {
    width: 10%;
    height: 10%;
    background-color: #ff0000;
    border-radius: 50%;
    border: 0.2vh solid #fff;
    box-shadow: 3px 3px 3px #333;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}
.start:active {
    box-shadow: none;
    background-color: #c90000;
}
.start::after {
    color: #000;
    font-size: 1vh;
    content: "START";
    position: absolute;
    left: -1vh;
    top: 2.5vh;
}
.strict {
    width: 10%;
    height: 10%;
    background-color: #ffb902;
    border-radius: 50%;
    border: 0.2vh solid #ffffff;
    box-shadow: 3px 3px 2px #333;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}
.strict:active {
    box-shadow: none;
    background-color: #ce9403;
}
.stricttip {
    box-sizing: border-box;
    width: 1vh;
    height: 1vh;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #000;
    position: absolute;
    left: 0.4vh;
    top: -1.6vh;
}
.strict::after {
    color: #000;
    font-size: 1vh;
    content: "STRICT";
    position: absolute;
    left: -1vh;
    top: 2.5vh;
}
.control .on-off {
    width: 19%;
    height: 10%;
    border-radius: 4px;
    background-color: #000000;
    margin-top: 10%;
    box-sizing: border-box;
    padding: 0;
    text-align: left;
    cursor: pointer;
}
.on-off {
    position: relative;
}
.on-off .btn {
    margin: 0;
    width: 50%;
    height: 100%;
    border-radius: 4px;
    background-color: #d3d3d3;
    box-sizing: border-box;
    border: 2px solid #000;
}

.on-off::before {
    content: "OFF";
    color: #000;
    font-size: 1.5vh;
    font-weight: bold;
    position: absolute;
    left: -3.2vh;
    top: 0.1vh;
}
.on-off::after {
    content: "ON";
    color: #000;
    font-size: 1.5vh;
    font-weight: bold;
    position: absolute;
    right: -2.8vh;
    top: 0.1vh;
}