body {
    background-color: #4682b4;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

}

.welcome {
    /* display: none; */
    width: 100%;
    max-width: 500px;
    height: 250px;
    background-color: #fff;
    text-align: center;
    box-shadow: 3px 3px 20px #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -125px;
    z-index: 1;
    transition: all 0.3s linear;
}

.welcome h1 {
    font-size: 2rem;
}

.welcome p {
    font-size: 3rem;
    margin: 0;
}

.welcome span {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-family: sans-serif;
    font-size: 6rem;
    background-color: #cacaca;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #444;
    cursor: pointer;
    margin: 10px;
}

.welcome span:active {
    background-color: #444;
    box-shadow: none;
}
.welcome .x {
    color: #008000;
}
.welcome .o {
    color: #ff0000;
}
.welcome h1 {
    padding: 0 10px;
}

.chessboard {
    width: 500px;
    height: 630px;
    /* border: #000000 1px solid; */
    margin: 13vh auto;
    transition: all 0.5s linear;
}

.chessboard h1 {
    color: #fff;
    margin: 0;
    font-size: 3rem;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.chessboard .tip {
    display: inline-block;
    vertical-align: middle;
    color: #000000;
    width: 150px;
    height: 30px;
    background: #cacaca;
    margin: 0 0 0 6px;
    box-shadow: 3px 3px 2px #444 inset;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
}
.chessboard .tip:nth-of-type(1){
    margin-right: 65px;
}
.chessboard .p1,
.chessboard .p2 {
    width: 120px;

}
.chessboard ul{
    font-size: 0;
    margin: 0;
    padding: 0;
}
.chessboard li {
    text-align: center;
    font-size: 8rem;
    text-shadow: 3px 3px 2px #333;
    line-height: 154.6px;
    margin: 6px;
    list-style: none;
    display: inline-block;
    width: 154.6px;
    height: 154.6px;
    background-color: rgb(218, 218, 218);
    box-shadow: 3px 3px 2px #444 inset;
    border-radius: 3px;
    /* 默认基线对齐 ，改成中线对其*/
    vertical-align: middle;
    cursor: pointer;
}
.chessboard li:active {
    /* background-color: #286494; */
    box-shadow: 5px 5px 2px #444 inset;
    text-shadow: 5px 5px 2px #333;
}

/* .chessboard .chessX {
    color: #008000;
} */

.gameOver {
    width: 500px;
    height: 250px;
    background-color: #fff;
    
    text-align: center;
    box-shadow: 3px 3px 20px #000000;
    position: absolute;
    /* left: 50%; */
    top: 50%;
    left: -500px;
    margin-left: -250px;
    margin-top: -125px;
    z-index: 1;
    transition: all 0.3s ease;
}

.gameOver h1 {
    margin: 0;
    font-size: 3rem;
    height: 100px;
    line-height: 100px;
}

.gameOver p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 10px;
}

.gameOver button {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    width: 180px;
    height: 50px;
    margin: 15px;
    background-color:#dbdbdb;
    border: none;
    box-shadow: 3px 3px 1px #444;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.gameOver .result {
    color: #ff0000;
}

.gameOver button:active {
    color: #fff;
    background-color: #1a6aac;
    box-shadow: none;
    /* box-shadow: 2px 2px 2px #444 inset; */
}

/* .chessboard {
    filter: blur(8px);
} */